
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg" id="perfil" class="img-fluid">
           
        </div>
        
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mangini Cassutti Valentina </p>
         </div>
    </div>
    

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <span> 
            <h1 id="descripcion">Sobre mi</h1>
            <p>despues</p>
        </span>
    </div>

