 .rox{
     padding: 20px;
     }

    div{
        background-color: rgb(10, 10, 19);
        text-align: center;
        
    }
    @media (min-width:576px)
    {
    #perfil{ 
       position: absolute;
       width:10%;
       height:10%px;
       border-radius:200px;
       left:3%;
    
       width:200px;
       height:200px;
       border-radius:200px;
       border:5px solid rgb(10, 10, 19);
   
       margin-top: -100px;
       margin-left: 40px;
    }
}
@media (max-width:575px)
    {
    #perfil{ 
       position: absolute;
       width:30%;
       height:200%;
       border-radius:200%;
       left:33%;
    
       width:200%;
       height:200%;
       border-radius:200%;
       border:4px solid rgb(10, 10, 19);
   
       margin-top: -100px;
       margin-left: 40px;
    }
   }

   @media (min-width:576px)
   {
   #titulo {
    margin-top:20px;
    margin-left: -160px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
   }
   #nombre {
       margin-top:110px;
       margin-left: -160px;
       font-weight: bold;
       color: rgb(255, 255, 255);
       
   }
   #sobremi{
       margin-top: 20px;
       margin-left: 100px;
       color: rgb(255, 255, 255);
       white-space:nowrap; 
   }
   #descripcion{
       margin-top: 30px;
       margin-left: 100px;
       color: rgb(255, 255, 255);
       white-space:nowrap; 
   }
}

@media (max-width:575px)
   {
    #titulo {
        margin-top:20px;
        margin-left: -160px;
        font-weight: bold;
        color: rgb(255, 255, 255); 
       }
    
   #nombre {
       margin-top:110px;
       margin-left: -160px;
       font-weight: bold;
       color: rgb(255, 255, 255);
   }
   #sobremi{
       margin-top: 20px;
       margin-left: 100px;
       color: rgb(255, 255, 255);
   }
   #descripcion{
       margin-top: 30px;
       margin-left: 100px;
       color: rgb(255, 255, 255);
   }
}