.row{
    padding: 30px;
    }
    *{
        background-color: rgb(10, 10, 19);
        text-align: center;
        color: rgb(255, 255, 255); 
        
    }
    @media (min-width:570px)
    {
        
        #titulo {
        margin-top:20px;
        margin-right: 150px;
        font-weight: bold;
        }
        #perfil{ 
            position: absolute;
            width: 200px;
            height:200px;
            border-radius:360%;
            margin-top: -8%;
            margin-left: -10%;
            border:5px solid rgb(10, 10, 19);
        }
           
        #nombre {
            margin-top:15%;
            margin-right: 25%;
            font-weight: bold;
            white-space:nowrap;
        } 
         
         }
    @media (max-width:569px)
    {
        #titulo {
            margin-top:20px;
            margin-left: -60px;
            font-weight: bold;
            }
            #perfil{ 
                position: absolute;
                width: 200px;
                height:200px;
                border-radius:360%;
                margin-top: -13%;
                margin-left: -10%;
                border:5px solid rgb(10, 10, 19);
            }
               
            #nombre {
                margin-top:10%;
                margin-left: -10%;
                font-weight: bold;
                white-space:nowrap;
            } 
             
            
    }
   
        
    
       