
    <div class="row">
        
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
            <img src="../../../assets/perfil.jpg" id="perfil" class="img-fluid">
            <H3><p id="nombre">Mangini Cassutti Valentina </p> </H3>
            <p id="titulo">Full Stack Developer Jr </p>
        </div>
        
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="header"> 
        <span> 
            
           <h2 id="sobremi">Sobre mi</h2>
           
            <p id="descripcion">COMPLETAR</p>
        </span>
    </div>
    
</div>



