<div class="row">
  <hr  size="6px"  />
  <H2><p id="titulohab"> Habilidades duras y blandas </p> </H2>

  <div id="C" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <circle-progress
      
      [percent]="75"
      [radius]="70"
      [space]="6"
      [imageSrc]="'assets/C++.png'"
      [showImage]= "true"
      [imageHeight]="60"
      [imageWidth]="50"
      [outerStrokeWidth]="10"
      [backgroundGradient]="false"
      [backgroundOpacity]="1"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#654bc3'"
      outerStrokeGradientStopColor = #1abfcb
      innerStrokeColor = #919191
      
      [animation]="true"
    ></circle-progress>
  </div>

  <div id="c sharp" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
    
    [percent]="60"
    [radius]="70"
    [space]="6"
    [imageSrc]="'assets/c sharp.png'"
    [showImage]= "true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [backgroundGradient]="false"
    [backgroundOpacity]="1"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#654bc3'"
    outerStrokeGradientStopColor = #1abfcb
    innerStrokeColor = #919191
    [animation]="true"
  ></circle-progress>
</div>

  <div  id="Java" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
     
      [percent]="60"
      [radius]="70"
      [space]="6"
      [imageSrc]="'assets/java.png'"
      [showImage]= "true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="10"
      [backgroundGradient]="false"
      [backgroundOpacity]="1"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#654bc3'"
      outerStrokeGradientStopColor = #1abfcb
      innerStrokeColor = #919191
      [animation]="true"
    ></circle-progress>
  </div>

  <div id="Ruby" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
     
      [percent]="10"
      [radius]="70"
      [space]="6"
      [imageSrc]="'assets/ruby.png'"
      [showImage]= "true"
      [imageHeight]="60"
      [imageWidth]="55"
      [outerStrokeWidth]="10"
      [backgroundGradient]="false"
      [backgroundOpacity]="1"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#654bc3'"
      outerStrokeGradientStopColor = #1abfcb
      innerStrokeColor = #919191
      [animation]="true"
    ></circle-progress>
  </div>
  
  <div  id="js" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
   
    [percent]="40"
    [radius]="70"
    [space]="6"
    [imageSrc]="'assets/js.png'"
    [showImage]= "true"
    [imageHeight]="65"
    [imageWidth]="50"
    [outerStrokeWidth]="10"
    [backgroundGradient]="false"
    [backgroundOpacity]="1"
    [outerStrokeGradient]="true"
    [outerStrokeColor]="'#654bc3'"
    outerStrokeGradientStopColor = #1abfcb
    innerStrokeColor = #919191
    [animation]="true"
    ></circle-progress>
  </div>

  <div  id="html" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
     
      [percent]="60"
      [radius]="70"
      [space]="6"
      [imageSrc]="'assets/html.png'"
      [showImage]= "true"
      [imageHeight]="60"
      [imageWidth]="60"
      [outerStrokeWidth]="10"
      [backgroundGradient]="false"
      [backgroundOpacity]="1"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#654bc3'"
      outerStrokeGradientStopColor = #1abfcb
      innerStrokeColor = #919191
      [animation]="true"
    
    ></circle-progress>
  </div>

  <div  id="CSS" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
      
      [percent]="60"
      [radius]="70"
      [space]="6"
      [imageSrc]="'assets/CSS.png'"
      [showImage]= "true"
      [imageHeight]="70"
      [imageWidth]="50"
      [outerStrokeWidth]="10"
      [backgroundGradient]="false"
      [backgroundOpacity]="1"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#654bc3'"
      outerStrokeGradientStopColor = #1abfcb
      innerStrokeColor = #919191
      [animation]="true"
    
    ></circle-progress>
  </div>

  <div  id="SQL" class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <circle-progress
      
      [percent]="50"
      [radius]="70"
      [space]="6"
      [imageSrc]="'assets/SQL.png'"
      [showImage]= "true"
      [imageHeight]="50"
      [imageWidth]="70"
      [outerStrokeWidth]="10"
      [backgroundGradient]="false"
      [backgroundOpacity]="1"
      [outerStrokeGradient]="true"
      [outerStrokeColor]="'#654bc3'"
      outerStrokeGradientStopColor = #1abfcb
      innerStrokeColor = #919191
      [animation]="true"
    ></circle-progress>
  </div>


   

 
</div>