.row{
    padding: 40px;
}

div{
    background-color:  rgb(10, 10, 19);

}
div c,c shape, java, rubi {
    white-space:nowrap;

}
div js,html, css, SQL {
    white-space:nowrap;

}

*{

    box-sizing: borde-box;
    color: rgb(255, 255, 255); 
    align-items: center;
    
}


@media (min-width:576px)
{

}

@media (max-width:575px)
{

}


    
    
   
    
