.row{
    padding: 40px;
}
*{

    color: rgb(255, 255, 255); 
}
div{
    background-color:  rgb(10, 10, 19);

}
hr{
    margin-left: -20px;
}

h3,p{
    display: inline;
}

@media (min-width:576px)
{
#exl{
    margin-top: 15px;
    white-space:nowrap;
}
#descripcion{
    margin-top: 15px;
    white-space:nowrap;
}
#fecha{
    white-space:nowrap;

}
}

@media (max-width:575px)
{
       #exl{
         margin-top: 15px;
        }
        #descripcion{
            margin-top: 15px;
            white-space:nowrap;
        }
        #fecha{
            white-space:nowrap;
        }
       
}