.row{
    padding: 20px;
}
div{
    background-color:  rgb(10, 10, 19);

}
h3,p{
    display: inline;
}

@media (min-width:576px)
{
#tituloexl{
 
 color: rgb(255, 255, 255); 
}
#exl{
    
    color: rgb(255, 255, 255);
    white-space:nowrap;
}
#descripcion{
    margin-top: 15px;
    color: rgb(255, 255, 255);
    white-space:nowrap;
}
#fecha{
    color: rgb(255, 255, 255);
    white-space:nowrap;
}

}

@media (max-width:575px)
{
    #tituloexl{
        
        color: rgb(255, 255, 255); 
       }
       #exl{
           
           color: rgb(255, 255, 255);
        }
        #descripcion{
            margin-top: 15px;
            color: rgb(255, 255, 255);
            white-space:nowrap;
        }
        #fecha{
            color: rgb(255, 255, 255);
            white-space:nowrap;
        }
        
}