
<div class="row">
    <hr  size="6px"  />
    <H2><p id="tituloedu">  Educación </p> </H2>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <ul>
    
       <li>
                <div class="container-all"> 

                    <img src="../../../assets/logo-fcefyn.jpg" id="logo-fcefyn" class="img-responsive" width="90" heigh="109" aling="left"> 
    
                    <h3 id="UNC">  Universidad Nacional de Córdoba</h3>
                    <h4 id="fcefyn"> Facultad de Ciencias Exáctas Físicas y Naturales  </h4> 
                   <h5 id="fcefyn">  Ingeniería en computación   </h5> <p id="fecha">-En curso</p>
                    
                 </div>

         </li>   

         <br>
         <br>
         
         <li>
            <div class="container-all"> 

                <img src="../../../assets/logo-fcefyn.jpg" id="logo-fcefyn" class="img-responsive" width="90" heigh="109" aling="left"> 
                <h3 id="UNC">  Universidad Nacional de Córdoba</h3>
                <h4 id="fcefyn"> Facultad de Ciencias Exáctas Físicas y Naturales  </h4> 
               <h5 id="fcefyn">  Ingeniería electrónica   </h5> <p id="fecha">-En curso</p>
                
             </div>
         </li>   

         <br>
         <br>
         

         <li>
            <div class="container-all"> 

                <img src="../../../assets/integral-capacitando.jpg" id="integral-capacitando" class="img-responsive" width="90" heigh="109" aling="left"> 
                <h3 id="UNC">  Integral Capacitando</h3>
               <h5 id="fcefyn"> Fundamentos de la programación   </h5> <p id="fecha">-CAMBIAR</p>
                
             </div>

         </li>   

         <br>
         <br>

         <li>
            <div class="container-all"> 

                <img src="../../../assets/UTN-LOGO.png" id="UTN-logo" class="img-responsive" width="90" heigh="109" aling="left"> 
                <h3 id="UTN">  Universidad Tecnológica Nacional</h3>
                <h4 id="fcefyn"> Facultad regional de Córdoba  </h4> 
               <h5 id="fcefyn">  Diplomatura en nuevas tecnologías-Introducción a la programación   </h5> <p id="fecha">-11 de junio de 2021</p>
                
             </div>

         </li>   
  
         <br>
         <br>

         <li>
            <div class="container-all"> 

                <img src="../../../assets/UTN-LOGO.png" id="UTN-logo" class="img-responsive" width="90" heigh="109" aling="left"> 
                <h3 id="UTN">  Universidad Tecnológica Nacional</h3>
                <h4 id="fcefyn"> Facultad Regional de Córdoba  </h4> 
               <h5 id="fcefyn">  Diplomatura en nuevas tecnologías-Introducción a la robótica  </h5> <p id="fecha">-11 de junio de 2021</p>
                
             </div>

         </li> 
         
         <br>
         <br>

         <li>
            <div class="container-all"> 

                <img src="../../../assets/UTN-LOGO.png" id="UTN-logo" class="img-responsive" width="90" heigh="109" aling="left"> 
                <h3 id="UTN">  Universidad Tecnológica Nacional</h3>
                <h4 id="fcefyn"> Facultad Regional de Córdoba  </h4> 
               <h5 id="fcefyn"> Tecnicatura universitaria en programación  </h5> <p id="fecha">-En curso</p>
                
             </div>

         </li> 
       
         <br>
         <br>

         <li>
            <div class="container-all"> 

                <img src="../../../assets/AP.png" id="AP" class="img-responsive" width="90" heigh="109" aling="left"> 
                <h3 id="ArP">  Argentina Programa</h3>
                <h4 id="fcefyn"> Ministerio de Desarrollo Productivo y la Cámara Argentina de la Industria de Software  </h4> 
               <h5 id="fcefyn"> #SéProgramar  </h5> <p id="fecha">-26 de octubre 2021</p>
                
             </div>

         </li> 

   </ul>
    
     </div>
</div>
