
<div class="row">
    <hr  size="6px"  />
    <H2><p id="tituloedu">  Educación </p> </H2>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <ul>
    
       <li>
        
        <img src="../../../assets/logo-fcefyn.jpg" id="logo-fcefyn" class="img-fluid"> <h3 id="fcefyn">  Ingeniería en computación   </h3> <p id="fecha"> - Desde 2019 hasta la actualidad</p>
            
         <img src="../../../assets/logo-fcefyn.jpg" id="logo-fcefyn" class="img-fluid"> <h3 id="fcefyn">  Ingeniería electrónica  </h3>  <p id="fecha"> - Desde 2019 hasta la actualidad</p> 
       </li>
       
       <h6 id="descripcion">  Enseño de forma particular a nivel secundario todas las materias </h6>
   </ul>
    
     </div>
</div>
