<div class="row" >
  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/AP.png" id="Ap">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/YP.png" id="yp">
    </div>
    <div class="container">
        <div class="github" id="github"> 
        
            <a href="https://github.com/Valentina-Mangini-Cassutti"><img src="../../../assets/github.png"  class="img-fluid"></a>
            
        </div>

        <div class="login" id="login">
            <div> 
                <button type="button" class="btn btn-outline-dark btn-sm" id="button">
                    Login
                </button>
            </div>
           
         </div>
    </div>
    
  
 </div>
 