*{
    white-space:nowrap;
}

@media (min-width:576px)
{
    
    #Ap{

        width: 10%;
        width: 180px;

    }
    #yp{
        width: 190px;
        margin-left:-120px;
        margin-top: 15px;
    
    }
    #github{
        width:10%;
        width: 60px;
        margin-left:1480px;
        margin-top: -90px;

    }
    img{
        width:50px;
    }

    .btn{
        width:20%;
        width: 40px;
        margin-left:1550px;
        margin-top: -75px;
        color: rgb(255, 255, 255);
        white-space:nowrap; 
        border-width: medium;
}
     
}
@media (max-width:575px)
{
    
    #Ap{

        width: 10%;
        width: 180px;

    }
    #yp{
        width: 190px;
        margin-left:-120px;
        margin-top: 15px;
    
    }
    #github{
        width:10%;
        width: 60px;
        margin-left:1480px;
        margin-top: -90px;

    }
    img{
        width:50px;
    }

    .btn{
        width:20%;
        width: 40px;
        margin-left:1550px;
        margin-top: -75px;
        color: rgb(255, 255, 255);
        white-space:nowrap; 
        border-width: medium;
    }
        
        
}